.addEmployeeForm{
    display: flex;
    gap: 1em;
}
.dash{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    max-width: 80%;
  }
  .empDelete{
      background-color: #F44336;
      outline: none;
      border: none;
      padding: 0.3em;
      color:#ffffff;
  }
  @media only screen and (max-width:600px){
    .addEmployeeForm{
        flex-direction: column;
    }
  }